@use "../../../shared_styles/colors" as *;
@use "../../../shared_styles/constants" as *;

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}

.content {
    justify-content: center;
    padding: 1em;
    background-color: $component-bg-color;
    border-radius: $component-border-radius;
    text-align: center;
}
